@model ExampleMVCApplication.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>CQRSMagic</h1>

<h2>Contacts</h2>

@Html.Partial("IndexListContacts", Model.Contacts)

@Html.Partial("IndexAddContact", Model)

